#header-size {
  min-height: 43px;
}
#footer-size {
  min-height: 27px;
}
body {
  font-family: "Abel";
  font-size: 18px;
}
.titles {
  font-family: "Abel";
  font-size: 34px;
  text-align: center;
}
.footer{
  font-size: 13px;
  margin-bottom: 13px;
  color: #000;
}
.noUnder{
  text-decoration:none;
}
.book{
  margin: auto;
  max-width: 800px;
  min-width: 300px;
  min-height: 500px;
  width: 50%;
}
.addBook{
  margin: auto;
  max-width: 800px;
  min-width: 300px;
  min-height: 500px;
  width: 50%;
}
.plot{
  font-size: 15px;
}
.footerContainer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
#userBar{
  width:15%;
  right:15px;
  height:129px
}
.bookCoverSmall{
  width:200px;
  height:300px;
}
.bookContainer{
  margin: 15px;
}

.tbo-dark {
  background-color: #373331;
  color:#fff;
}
.tbo-grey {
  background-color: #605a56;
  color:#fff;
}
.tbo-mint {
  background-color: #80ac7b;
  color:#000;
}
.tbo-cream {
  background-color: #e8eaa1;
  color:#000;
}

.tbo-hover-dark:hover {
  background-color:#373331!important;
  color:#fff!important;
}
.tbo-hover-grey:hover {
  background-color:#605a56!important;
  color:#fff!important;
}
.tbo-hover-mint:hover {
  background-color:#80ac7b!important;
  color:#000!important;
}
.tbo-hover-cream:hover {
  background-color:#e8eaa1!important;
  color:#000!important;
}
